.todo-text {
  background: none;
  color: #000000;
  border: none;
}

.todo-text_completed {
  text-decoration: line-through;
}

.visible { 
  display: default;
}

.not-visible { 
  display: none;
}

.todo-form {
  display: flex;
  justify-content: space-between;
}