.todo-list__item {
  display: flex;
  justify-content: space-between;
}

.todo-list__text {
  background: none;
  color: #000000;
  border: none;
}

.todo-list__text_completed {
  text-decoration: line-through;
}

.visible{ 
  display: default;
}

.not-visible{ 
  display: none;
}