.todo-text {
  background: none;
  color: #000000;
  border: none;
}

.todo-text_completed {
  text-decoration: line-through;
}

.todo-form {
  display: flex;
  justify-content: space-between;
}

.not-visible {
  display: none;
}

.todo-form:hover .edit {
  display: inline-block;
}